<link rel="stylesheet" href="/app/views/css/landing_page.css">
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Entertainment Terminal</h1>
        <p class="splash-subhead">
            A place to find your all your entertainment needs.
        </p>
        <p>
            <a href="/#/main" class="pure-button pure-button-primary">Get Started</a>
        </p>
    </div>
</div>
<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Search the to your hearts content!</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Browse Movies
                </h3>
                <p>
                    Don't waste any time messing around google, just hop on Entertainment Terminal and let us do the work!
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Favorite Movies
                </h3>
                <p>
                    Save all of your favorite movie and tv shows in a centralized place.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Comments
                </h3>
                <p>
                    Leave your opinion on the movies you like the most.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Ratings
                </h3>
                <p>
                    Check out the most up-to-date movie ratings from Rotten Tomatoes.
                </p>
            </div>
        </div>
    </div>
<!--
    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img class="pure-img-responsive" alt="File Icons" width="300" src="img/common/file-icons.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor.
            </p>
        </div>
    </div> -->

    <div class="content">
        <h2 class="content-head is-center">Entertainment Terminal is here to save the day.</h2>

    </div>

    <div class="footer_landing">
        <div class="pure-menu pure-menu-horizontal">
            <ul>
                <li class="pure-menu-item"><a href="http://purecss.io/" class="pure-menu-link">About</a></li>
                <li class="pure-menu-item"><a href="http://twitter.com/yuilibrary/" class="pure-menu-link">Twitter</a></li>
                <li class="pure-menu-item"><a href="http://github.com/yahoo/pure/" class="pure-menu-link">GitHub</a></li>
            </ul>
        </div>
    </div>
</div>
