<!-- {{oneMovieCtrl.movie}} -->
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <div >
                <div class="column">
                    <a ng-href="{{oneMovieCtrl.movie.url}}"><img class="thumbnail" ng-src="{{oneMovieCtrl.movie.poster}}">
                    </a>
                    <a ng-href="{{oneMovieCtrlmovie.url}}">
                        <p>{{oneMovieCtrlmovie.title}}</p>
                    </a>
                </div>
            </div>

            <div class="" >
              <h2 class="brand-tagline">Rated {{oneMovieCtrl.movie.rating}}<br>{{oneMovieCtrl.movie.release_year  }}</h2>
            </div>


        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts" >
                <h1 class="content-subhead">Director: {{oneMovieCtrl.movie.directors}}<br>Writer: {{oneMovieCtrl.movie.writers}}<br>Cast: {{oneMovieCtrl.movie.cast}}</h1>
                <a ng-href="{{oneMovieCtrl.movie.facebook}}"<p>Facebook</p></a>
                <div class="">
                    <h4><strong>Synopsis</strong></h4>
                    <p> {{ oneMovieCtrl.movie.overview }}</p>
                </div>
                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">


                        <h2 class="post-title">{{ oneMovieCtrl.movie.title }}</h2>


                    </header>

                    <div class="post-description">

                    </div>
                </section>
            </div>

            <div class="posts">
                <h1 class="content-subhead">Where to Watch</h1>

                <section class="post">
                    <header class="post-header">


                        <h2 class="post-title">Watch on iTunes now:</h2>


                    </header>

                    <div class="post-description">
                      <!-- <a class="pure-button pure-button-primary" href="#">A Primary Button</a> -->
                      <a ng-href="{{oneMovieCtrl.movie.itunes}}"><button class="pure-button pure-button-primary">iTunes</button></a>
                    </div>
                </section>

                <section class="post">

            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="http://purecss.io/" class="pure-menu-link">About</a></li>
                        <li class="pure-menu-item"><a href="http://twitter.com/yuilibrary/" class="pure-menu-link">Twitter</a></li>
                        <li class="pure-menu-item"><a href="http://github.com/yahoo/pure/" class="pure-menu-link">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
