<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a blog page with a list of posts.">

    <title> Entertainment Terminal</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="../css/movie.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>


</head>
<body ng-app="moviesApp">
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title">Movie Poster Goes Here</h1>
            <div ng-controller='moviesController as moviesCtrl'>
                <div class="column" ng-repeat="movie in moviesCtrl.movies">
                    <a ng-href="{{movie.url}}"><img class="thumbnail" ng-src="{{movie.poster}}">
                    </a>
                    <a ng-href="{{movie.url}}">
                        <p>{{movie.title}}</p>
                    </a>
                </div>
            </div>

            <h2 class="brand-tagline">This movie is awesome.</h2>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="http://purecss.io">Movie Trailer 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="http://yuilibrary.com">Movie Trailer 2</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="content-subhead">Movie Information Goes Here</h1>
                <div class="" ng-controller='moviesController as moviesCtrl'>
                    <p ng-repeat="movie in moviesCtrl.movies"> {{ movie.overview }}</p>
                </div>
                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">


                        <h2 class="post-title">{{ Movie.title }}</h2>


                    </header>

                    <div class="post-description">

                    </div>
                </section>
            </div>

            <div class="posts">
                <h1 class="content-subhead">Where to Watch</h1>

                <section class="post">
                    <header class="post-header">


                        <h2 class="post-title">Links to Watch:</h2>


                    </header>

                    <div class="post-description">
                        <p>
                          Link 1 Link 2 Link 3 Link 4
                        </p>
                    </div>
                </section>

                <section class="post">

            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="http://purecss.io/" class="pure-menu-link">About</a></li>
                        <li class="pure-menu-item"><a href="http://twitter.com/yuilibrary/" class="pure-menu-link">Twitter</a></li>
                        <li class="pure-menu-item"><a href="http://github.com/yahoo/pure/" class="pure-menu-link">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
    $(document).foundation();
    angular.module("moviesApp", []);
    angular.module("moviesApp")
        .controller('moviesController', moviesControllerFunc)
        .$inject = ['$http']

    function moviesControllerFunc($http) {
        var movieCtrl = this
        movieCtrl.posters = []
        movieCtrl.titles = []
        movieCtrl.url = []
        movieCtrl.overview = []
        movieCtrl.movies = []
        $http({
            method: 'GET',
            url: 'https://api-public.guidebox.com/v1.43/US/tseUZERaS53WSjkA1ATmxoj2JMtmQJ/movie/50362'
        }).then(function successCallback(response) {
            // this callback will be called asynchronously
            // when the response is available
            console.log(response);
            // for (var i = 0; i < response.data.length; i++) {
                var object = {}
            //     object.poster = response.data.poster_120x171;
            //     object.overview = response.data.overview;
            //     object.title = response.data.title;
            //     object.url = response.data.metacritic;
                object.overview = response.data.overview;
                movieCtrl.movies.push(object);
            //     console.log(movieCtrl.movies)
                console.log(response.data.rating);
                console.log(response.data.poster_120x171);
                console.log(response.data.overview);
            // }

        }, function errorCallback(response) {
            // called asynchronously if an error occurs
            // or server returns response with an error status.
        });
    }
</script>
</body>
</html>
