<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="../css/sign_in.css" media="screen" title="no title" charset="utf-8">


<div class="pure-g">
  <div class="pure-u-1-6"><p></p></div>
  <div class="pure-u-1-6"><p></p></div>
  <div class="pure-u-1-6"><p><form class="pure-form pure-form-stacked">
    <fieldset>
      <legend>Sign-in Form</legend>

      <label for="email">Email</label>
      <input id="email" type="email" placeholder="Email">

      <label for="password">Password</label>
      <input id="password" type="password" placeholder="Password">

      <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
  </form></p></div>
  <div class="pure-u-1-6"><p></p></div>
  <div class="pure-u-1-6"><p></p></div>

</div>
