<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="../css/sign_in.css" media="screen" title="no title" charset="utf-8">


<div class="pure-g">
  <div class="pure-u-1-6"></div>
  <div class="pure-u-1-6"></div>
  <div class="pure-u-1-6">
    <form class="pure-form pure-form-stacked" ng-submit="login.doLogin()">
    <fieldset>
      <legend>Sign-in Form</legend>

      <label for="email">Email</label>
      <input id="email" type="email" placeholder="Email" ng-model="login.loginData.email">

      <label for="password">Password</label>
      <input id="password" type="password" placeholder="Password" ng-model="login.loginData.password">

      <div class="alert alert-danger" ng-if="login.error">
        {{login.error}}
      </div>

      <button type="submit" class="pure-button pure-button-primary">
        <span ng-if="!login.processing"> Sign in </span>
        <span ng-if="login.processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span>
      </button>
    </fieldset>
  </form>
</div>
  <div class="pure-u-1-6"></div>
  <div class="pure-u-1-6"></div>

</div>
